<h1>We the Entities</h1>
<p>
    We the Entities is a RESTful API for analyzing the <a href="https://petitions.whitehouse.gov/developers">We the People</a> petition text.
    It leverages text analysis services like <a href="http://www.opencalais.com/">Open Calais</a>, AlchemyAPI, and Semantria to extract information from the petition title and body.
</p>
<h4>Usage</h4>
<pre>
    <%= petition_path(:id=> ':id') %><b>[.json]</b>
</pre>
<p>For example, to retrieve the text analysis for petition with id '<%= @petition_id %>':</p>
<pre>
    <%= link_to @example_path, @example_path %>
    <%= link_to @example_json_path, @example_json_path %>
</pre>
<p>For more in-depth use cases, see <%= link_to 'Examples', :controller => :examples, :action => :index %>.</p>

<a href="https://github.com/yoni/wetheentities"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
