<h1>We the Entities</h1>
<p>
    We the Entities is a RESTful API for analyzing the petition text from the White House's
    <a href="https://petitions.whitehouse.gov/developers">We the People</a> application.
</p>
<p>
    It leverages text analysis services like <a href="http://www.opencalais.com/">Open Calais</a>,
    <a href="http://www.alchemyapi.com/">AlchemyAPI</a>, and <a href="https://semantria.com/">Semantria</a> to extract
    information from the petition title and body.
</p>
<h4>Example Analysis</h4>
<% @petitions.each do |petition| %>
    <ul>
        <li>
            <%= link_to petition.title, :controller=> :petitions, :action => :show, :id => petition.id %>
        </li>
    </ul>
<% end %>
<h4>Application Programming Interface (API)</h4>
<pre>
    <%= petition_path(:id=> ':id') %><b>[.json]</b>
</pre>
<p>For example, to retrieve the text analysis for petition with id '<%= @petition_id %>':</p>
<pre>
    <%= link_to @example_path, @example_path %>
    <%= link_to @example_json_path, @example_json_path %>
</pre>
<h5>JavaScript API client examples</h5>
<ul>
    <li>
        <%= link_to "Sentiment", :controller => :examples, :action => :sentiment %>
    </li>
    <li>
        <%= link_to "Geo", :controller => :examples, :action => :geo%>
    </li>
</ul>

<a href="https://github.com/yoni/wetheentities"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
