<!DOCTYPE html>
<html>
<head>
  <title>We the Entities</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "d3.layout.cloud.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p><%= link_to 'Home', :root %> | <%= link_to 'Developer API', :controller => :home, :action => :api %></p>
<hr />

<%= yield %>

</body>
</html>
