<!DOCTYPE html>
<html>
<head>
  <title>We the Entities</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2>We the Entities</h2>
<%= link_to 'Home', :root %> |
<%= link_to 'Petition Browser', :controller => :petitions, :action => :index%> |
<%= link_to 'Developer API', :controller => :home, :action => :api %> |
<%= link_to 'About', :controller => :home, :action => :about %>
<hr />

<%= yield %>

<hr />
<a href="https://github.com/yoni/wetheentities"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
</body>
</html>
